*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.wrap{
    width: 1140px;
    margin: 0 auto;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px 0px 0px 0px);
}

.header{
    background-color: #222222;
    padding: 18px 0;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
}
.header_leftBox{
    display: flex;
    align-items: flex-end;
    gap: 40px;
}
.header_navBox{
    display: flex;
    align-items: flex-end;
    gap: 33px;
}
.header_searchButton,.header_menuButton{
    border: none;
    background-color: transparent;
}

.promo{
    background-color: #F1E4E6;
}
.promo_wrap{    
    min-height: 765px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-image: url(../img/back_promo.png);
    background-position-x: -225px;
    background-repeat: no-repeat;
}
.promo_h1{
    box-sizing: border-box;
    margin-right: 90px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;    
    color: #222222;
}
.promo_h1 span:first-child{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.promo_h1 span:last-child{
    color: #F16D7F;
}

.content{
    flex-grow: 1;
}
.productCategories{
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    gap: 30px;
}
.productForWoman{
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/back_forwomen.jpg");
}
.productForMan{
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/back_formen.jpg");
}
.productForKid{
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/back_forkid.jpg");
}
.productAccesories{
    width: 100%;
    height: 180px;
    display: flex;    
    align-items: center;
    justify-content: center;    
    background-image: url("../img/back_accesories.jpg");
}
.productCategoris_text{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.productCategoris_text span{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.feturedItems{
    margin: 95px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feturedItems_heading{
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.fearutedItems_text{
    margin-top: 6px;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.productCardsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.productCard{
    width: 360px;
    background-color: #F8F8F8;
}
.productCard_content{
    margin: 25px 16px 20px 16px;
}
.productCard_heading{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.productLink{
    text-decoration: none;    
    color: #000000;
}
.productLink:hover{
    text-decoration: underline;
    color: #F16D7F;    
}
.productCard_text{
    margin-top: 12px;
    font-size: 14px;   
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
}
.productCard_price{
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.browseProductButton{
    margin-top: 48px;
    display: inline-block;
    color: #F26376;
    text-decoration: none;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    box-sizing: border-box;
}

.feature{
    background-color: #222224;
    padding: 104px 0;
}
.feature_wrap{
    display: flex;
    justify-content: space-between;
}
.feature_item{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature_item__heading{
    font-weight: normal;
    margin-top: 19px;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}
.feature_item__text{
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe{
    background-color: #D73C3C;
    background-image: url(../img/back_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;   
    padding: 97px 0 126px 0;
}
.subscribe_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe_quoteBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}
.subscribe_quoteBox__text{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}
.subscribe_buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe_heading{
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}
.subscribe_buttonBox__text{
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}
.subscribe_form{
    margin-top: 32px;
}
.subscribe_form__input{
    font-size: 14px;
    line-height: 17px;
    width: 256px;
    height: 49px;
    padding: 0 22px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #E1E1E1;
}
.subscribe_form__input::placeholder{
    color: #222224;
    opacity: 0.67;
}
.subscribe_button{
    width: 100px;
    height: 49px;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #F16D7F;    
}

.footer{
    background-color: #222224;
    padding: 24px 0;
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_copy{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer_socialLink{
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.crumbs{
    background-color: #F8F3F4;
    padding: 60px 0;
}
.crumbs_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crumbs_heading{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;    
}
.crumbs_list{
    display: flex;
    list-style: none;
}
.crumbs_item::before{
    content: "/";
    margin: 0 5px;
}
.crumbs_item:first-child:before{
    content: none;
}
.crumbs_link{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}
.crumbs_link:hover{
    text-decoration: underline;
    color: #F16D7F;
}
.crumbs_link__current{
    font-weight: bold;
    color: #F16D7F;
}

.catalog_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 95px;
}
.catalog_filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
}
.catalog_filter__button{    
    margin-left: 15px;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.catalog_filter__button::after{
    content: url(../img/filter_icon.svg);
    margin-left: 10px;
}
.filter_list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 28px;
}
.filter_item{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter_item::after{
    content: url(../img/filter_arrowDown.svg);
    margin-left: 10px;
}
.pageScroll{
    margin-top: 48px;
}

.productFoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}
.productFoto_scrollButton{
    padding: 8px;
    background-color: rgba(42, 42, 42, 0.15);
    border: none;
}
.productFoto_img{
    margin-top: 11px;
    margin-bottom: 42px;
}
.productInfo{
    flex-direction: column;
    position: relative;
    top: -75px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 65px 250px;
}
.productInfo_h3{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}
.productInfo_hr1{
    box-sizing: border-box;
    width: 63px;
    border: none;
    border-top: 3px solid #EF5B70;
    margin: 12px auto;
}
.productInfo_h2{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.productInfo_text{
    margin-top: 48px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;    
    color: #5E5E5E;
}
.productInfo_price{
    margin-top: 32px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
.productInfo_hr2{
    border: none;
    border-top: 1px solid #EAEAEA;
    margin: 65px auto;
}
.addToCardButton{
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid;
    margin: 48px auto 0 auto;
    padding-right: 55px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;   
}
.addToCardButton img{
    margin: 15px 23px 9px 24px;
}

.productCardsBox_wrap{
    margin: 53px 0 128px 0;
}
